<a href="https://colab.research.google.com/github/della0418/bigdata/blob/main/0316_%E4%BD%9C%E6%A5%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#列出檔案
system("ls",TRUE)

[1] "A53000000A-110026-003.csv" "sample_data"

In [3]:
library(readr)

In [5]:
#讀取檔案
dataset <- read.csv("A53000000A-110026-003.csv")

In [6]:
dataset

   Seq DateListed 年度 月份 合計
1   1  2021/03/03 109   9    9322
2   2  2021/03/03 109   8   11308
3   3  2021/03/03 109   7   12053
4   4  2021/03/03 109   6   10041
5   5  2021/03/03 109   5    9840
6   6  2021/03/03 109   4    8391
7   7  2021/03/03 109   3   19888
8   8  2021/03/03 109   2   26820
9   9  2021/03/03 109   1   35437
10 10  2021/03/03 108  12   18967
11 11  2021/03/03 108  11   33270
12 12  2021/03/03 108  10   44463
13 13  2021/03/03 108   9   49851
14 14  2021/03/03 108   8   26029
15 15  2021/03/03 108   7   22659
16 16  2021/03/03 108   6   18403
17 17  2021/03/03 108   5   33070
18 18  2021/03/03 108   4   33313
19 19  2021/03/03 108   3   42547
20 20  2021/03/03 108   2   55740
21 21  2021/03/03 108   1   26819
22 22  2021/03/03 107  12   24392
23 23  2021/03/03 107  11   24283
24 24  2021/03/03 107  10   39274
25 25  2021/03/03 107   9   38189
26 26  2021/03/03 107   8   33821
27 27  2021/03/03 107   7   34740
28 28  2021/03/03 107   6   25276
29 29  2021/03/03 107   5   29226
30 30  2021/03/03 107   4   49114
31 31  2021/03/03 107   3   36459
32 32  2021/03/03 107   2   36954
33 33  2021/03/03 107   1   18845

In [7]:
head(dataset$年度,n=20)

 [1] 109 109 109 109 109 109 109 109 109 108 108 108 108 108 108 108 108 108 108
[20] 108

In [9]:
tail(dataset$月份,n=10)

 [1] 10  9  8  7  6  5  4  3  2  1

In [11]:
dataset[grepl("108",dataset$年度),]

   Seq DateListed 年度 月份 合計
10 10  2021/03/03 108  12   18967
11 11  2021/03/03 108  11   33270
12 12  2021/03/03 108  10   44463
13 13  2021/03/03 108   9   49851
14 14  2021/03/03 108   8   26029
15 15  2021/03/03 108   7   22659
16 16  2021/03/03 108   6   18403
17 17  2021/03/03 108   5   33070
18 18  2021/03/03 108   4   33313
19 19  2021/03/03 108   3   42547
20 20  2021/03/03 108   2   55740
21 21  2021/03/03 108   1   26819

In [12]:
table(dataset$月份)

 1  2  3  4  5  6  7  8  9 10 11 12
 3  3  3  3  3  3  3  3  3  2  2  2